/* General CSS */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden; 
}
p{
    font-size: 14px;
}
/*Generic CSS*/

.section-title{
    padding-top: 90px;
    padding-bottom: 50px;
}

.section-title h2{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-title h2:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 47%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30x;
}
.section-title p{
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/*HEADER*/
.header{
    background-image: url(../images/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    
}
.header-iphone img{
    width: 100%;
}
.header-overlay{
    background-color: rgba(31, 31, 31, 0.75);
}
.logo{
    padding-bottom: 50px;
}
.header-text h1{
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}
.header-text p{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
        
}
.header-btns{
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:visited,
.btn-download:active{
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -moz- transition: all 1s;
    -o- transition: all 1s;
    -webkit- transition: all 1s;
}
.btn-downlaod:hover{
    background-color: #129CF3;
    color: #fff;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:visited,
.btn-tour:active{
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
    -moz- transition: all 1s;
    -o- transition: all 1s;
    -webkit- transition: all 1s;
}
/*Choose Us section*/
.choose-us-wrapper{
    padding-top: 50px;
}
.about-iphone{
    margin-top: 8px;
}
.choose-us-title{
    padding-bottom: 50px;
}
.choose-us-title h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.choose-us-title h2:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0px;
    width: 70px;
    height: 1px;
    background-color: #129CF3;
    
}
.choose-us-title p{
    margin-top: 40px;
    font-size: 19px;
    line-height: 24px;
}
.choose-us-item{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.choose-us-item div{
    position: absolute;
    top: 0;
    left: 0;
}
.choose-us-item div i{
    font-size: 55px;
    color: #129CF3;
    transition: all 1s;
    -webkit- transition: all 1s;
    -o- transition: all 1s;
    -moz- transition: all 1s;
}
.choose-us-item h3{
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.choose-us-item p{
    color: #727272;
    font-size: 15px;
}
/*Testimonials*/
.Testimonials{
    background-image: url(../images/testimonial-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    -webkit- background-size: cover;
}
.Testimonials-overlay{
    background-color: rgba(31, 31, 31, 0.75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators{
    bottom: -10px;
}
.carousel-inner .item img{
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption{
    padding-bottom: 70px;
}
.testimonial-caption h2{
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900px;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial-caption h4{
    color: #129CF3;
}
.testimonial-caption h4 span{
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}
.testimonial-caption p{
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}




















